include requirements.txt
include build-requirements.txt
include test-requirements.txt
include LICENSE.txt
include MANIFEST.in
include README.md
include setup.py
include packaging.py
include setup.cfg
recursive-include data *
